* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.banner {
	position: relative;
	width: 100%;
	overflow: auto;

	text-align: center;
}
	.banner ul {
		list-style: none;
		width: 300%;
	}
	.banner ul li {
		display: block;
		float: left;
	}

	.banner .inner {
		padding: 160px 0 110px;
	}

	